.img-user {
    width: 35%;
    transform: rotate(90deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: MoveUpDownLeft 1.2s alternate-reverse infinite;
}

.img-cpu {
    width: 35%;
    transform: rotate(-90deg);
    display: block;
    margin-left: auto;
    margin-right: auto;
    animation: MoveUpDownRight 1.2s   alternate-reverse infinite;
}

.content-play {
    margin-top: 3%;
    border-top: solid;
    border-color: black;
}

.txt-cpu, .txt-player {
    text-align: center;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    margin-top: 2%;
    font-size: 2.5rem;
}

.img-rock, .img-paper, .img-scissor {
    width: 45%;
    cursor: pointer;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.paused {
    animation-play-state: paused;
}

.hide{
    display: none;
}

.title-winner {
    text-align: center;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 4rem;
}

.btn-restart {
    display: block;
    margin-left: auto;
    margin-right: auto;
    background-color: red;
    font-weight:bold;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 2rem;
    color: white;
}

@keyframes MoveUpDownRight {
    from {
        transform: rotateZ(-100deg);
    }
    to { 
        transform: rotateZ(-40deg);
    }
}
@keyframes MoveUpDownLeft {
    from {
        transform: rotateZ(100deg);
    }
    to { 
        transform: rotateZ(40deg);
    }
}
